.custom-header {
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
  }
  
  .custom-cell {
    font-size: 14px; /* Tamanho da fonte */
    /* Outros estilos de célula aqui, se necessário */
  }